<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--这个名字随便起,只是为了唯一标识一个方法-->
<mapper namespace="com.ksit.mapper.MovieMapper">

    <!--使用动态SQL 语句功能-->
    <!--if 标签-->
    <select id="queryListByTitle"  parameterType="string" resultType="Movie">
        SELECT * FROM movie

        /*如果title 为null 或者没有值的话 , 将会查出所有的记录,如果给值,将会根据给的值查询*/
        <if test="title != null and title != ''">
            WHERE title LIKE #{title}
        </if>

    </select>

    <!--where 标签-->
    <select id="queryByTitleOrDirector" parameterType="string" resultType="Movie">
        SELECT * FROM movie
        /*如果titile不等于null 根据title查,否则输出全部*/
        /*如果director 不等于null 则同时根据director 查*/
        <!--<where>
            &lt;!&ndash;如果director 不等于null 则同时根据director 查&ndash;&gt;
            <if test="title != null and title != ''">
                WHERE title LIKE #{title}
            </if>
            <if test="director != null and title != ''">
                AND director LIKE #{director}
            </if>
        </where>-->

        /*prefix / prefixOverrides prefix 是如果没有的话,进行添加 / prefixOverrides : 如果有的话,进行覆盖操作*/
        <trim prefix="where"  suffixOverrides="and | or">
            <if test="title != null and title != ''">
                title like #{title} AND
            </if>
            <if test="director != null and director != ''">
                director like #{director}
            </if>
        </trim>
    </select>

    <select id="queryByIdList" parameterType="list" resultType="Movie">
      SELECT * FROM movie WHERE id IN
      <foreach collection="idList" item="id" open="(" close=")" separator=",">
          #{id}
      </foreach>
    </select>

    <insert id="insertBatch" parameterType="list">
        INSERT INTO movie (title,rate,director) VALUES 
        <foreach collection="directorList" item="movie" separator=",">
            (#{movie.title},#{movie.rate},#{movie.director})
        </foreach>
    </insert>
</mapper>