<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--这个名字随便起,只是为了唯一标识一个方法-->
<mapper namespace="com.ksit.mapper.ProductMapper">

    <!--id就是方法名,参数类型略-->
    <insert id="insert" parameterType="com.ksit.entity">
      /*这里面调用的还是实体类的get/set方法,不可能调用属性*/
        insert into t_product(product_name,product_price)
        values(#{productName},#{productPrice})
    </insert>


</mapper>
